<div class="nav-container">
    <a class="waves-effect waves-light btn-flat btn-custom" href="/breedresults"><i class="inline-icon material-icons">arrow_back</i>
        Back to Breeds</a>
    <a class="waves-effect waves-light btn button-custom" href="/">Start Over</a>
</div>

<div class="container">
    <h3 class="adopt-page-header">Check out these <span class="adopt-header-accent">adoptable</span> dogs!</h3>
    <hr class="adopt-header-divider">


    {{!-- Row --}}
    <div class="row card-container">
        {{#each dogs}}
        {{!-- Card --}}
        <div class="col s6 m4 l3 col-custom">
            <div class="card hoverable card-custom">
                <a href="http://www.google.com" target="_blank">
                    <div class="content-overlay"></div>
                </a>
                <div class="card-image-container">
                    <img src="{{photo}}" alt="" class="card-image">
                </div>
                <div class="curve"></div>
                <div class="card-content">
                    <h5 class='card-header dog-name'><strong>{{name}}</strong></h5>
                    <p class="card-text card-text-bold">{{age}} &middot; {{gender}}</p>
                    <p class="card-text card-text-custom">{{description}}</p>
                </div>
                <a href="https://www.google.com/" target="_blank">
                    <div class="content-details fadeIn-bottom">
                        <a class="btn-floating btn-large card-button-custom waves-effect waves-light hoverable custom-fab"
                            href="{{website}}" target="_blank">
                            <i class="material-icons">send</i>
                        </a>
                        <div class="overlay-img-container">
                            <img src="{{photo}}"
                                alt="" class="overlay-img">
                        </div>
                        <h4 class="overlay-dog-name">{{name}}</h4>
                        <p class="card-text card-text-bold">{{age}} &middot; {{gender}}</p>
                        <p class="card-text card-text-custom">Phone:<br>{{phone}}</p>
                        <p class="card-text card-text-custom">{{address}}<br>{{city}}, {{state}}</p>
                        
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>