<nav>
    <div class="nav-wrapper amber darken-2">
        <a class="brand-logo">In Your Area</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class="nav-container">
    <a id="breedResults" class="waves-effect waves-light btn-flat btn-custom" data-survey="{{surveyId}}"><i
            class="inline-icon material-icons">arrow_back</i>
        Back to Breeds</a>
</div>

<div class="container">
    <h3 class="adopt-page-header">Check out these <span class="adopt-header-accent">adoptable</span> dogs!</h3>
    <div class="top-copy-container">
        <p>We've used your location data and breed selection to find these dogs in shelters near you!</p>
        <p>If you'd like to retake the survey, click the button below.</p>
    </div>
    <div class="button-container">
        <a class="waves-effect waves-light btn button-custom" href="/">Start Over</a>
    </div>

    <hr class="adopt-header-divider">


    {{!-- Row --}}
    <div class="row card-container">
        {{if dogs}}
        {{#each dogs}}
        {{!-- Card --}}
        <div class="col s6 m4 l3 col-custom">
            <div class="card hoverable card-custom">
                <a href="http://www.google.com" target="_blank">
                    <div class="content-overlay"></div>
                </a>
                <div class="card-image-container">
                    <img src="{{photo}}" alt="" class="card-image">
                </div>
                <div class="curve"></div>
                <div class="card-content">
                    <h5 class='card-header dog-name'><strong>{{name}}</strong></h5>
                    <p class="card-text card-text-bold">{{age}} &middot; {{gender}}</p>
                    <p class="card-text card-text-custom">{{description}}</p>
                </div>
                <div class="content-details fadeIn-bottom">
                    <a class="btn-floating btn-large card-button-custom waves-effect waves-light hoverable custom-fab"
                        href="{{website}}" target="_blank">
                        <i class="material-icons">send</i>
                    </a>
                    <div class="overlay-img-container">
                        <img src="{{photo}}" alt="" class="overlay-img">
                    </div>
                    <a href="{{website}}" target="_blank">
                        <h4 class="overlay-dog-name">{{name}}</h4>
                    </a>
                    <p class="card-text card-text-bold">{{age}} &middot; {{gender}}</p>
                    <p class="card-text card-text-custom">Phone:<br>{{phone}}</p>
                    <p class="card-text card-text-custom">{{address}}<br>{{city}}, {{state}}</p>

                </div>
            </div>
        </div>
        {{/each}}
         
        {{else}}
        <h1>Looks like all of these friends have found furever home!</h1>
        <a id="breedResults" class="waves-effect waves-light btn-flat btn-custom" data-survey="{{surveyId}}"><i
            class="inline-icon material-icons">arrow_back</i>
        Back to Breeds</a>
        {{/else}}
       {{/if}}
    </div>
</div>
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- javascript tags --}}
<script src="/js/adoptpage.js"></script>