  <nav>
    <div class="nav-wrapper amber darken-2">
      <a class="brand-logo">Breeds</a>
    </div>
  </nav>
<div class="image-container2">
<div class="container">
  {{#each returnedArray}}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src={{img}}>
          <span class="card-title">{{breed_name}}</span>
        </div>
        <div class="card-content">
          <ul>
            {{#each Attributes}}
            <li>{{attribute}} : {{score}}</li>
            {{/each}}
          </ul>

        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit" name="action" id="findAdoption"
            data-breed="{{breed_name}}">Find</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- javascript tags --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/breedresults.js"></script>