  <nav>
    <div class="nav-wrapper amber darken-2">
      <a class="brand-logo">Breed Results</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <img id="headerImage" src="../images/breedresults.svg">
    </div>
    <div class="col s12 m8">
      <h1 id="headertext">Your Matches Are In!</h1>
      <p id="directionText">Below you will find the best pups for your pack. Click the Find button under each breed to
        search your local shelters for adoptable dogs!</p>
    </div>
  </div>

  {{#each data}}
  <div class="row breedRow">
    <div class="col s12 m6 l5 imageHolder">
      <div class="imageCropper card-image">
        <img class="dogImage" src={{this.image}}>
      </div>
    </div>
    <div class="col s12 m6 l7">
      <div class="row breedNameRow">
        <div class="col s12 m12 upperCase">
          <h5>{{this.breed_name}}</h5>
        </div>
      </div>
      <div class="row attributeRow">
        <div class="col s12 m12">
          <ul>
            {{#each this.Attributes}}
            <li class="attributeAndScore valign-wrapper" data-score="{{this.score}}">
              <span class="attribute">{{this.attribute}}</span>
              <img class="stars" data-score="{{this.score}}" src="">
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="row buttonRow">
        <div class="col s12 m12">
          <button class="btn waves-effect waves-light findButton" type="submit" name="action" id="findAdoption"
            data-survey = "{{../survey.id}}" data-user="{{../survey.UserId}}" data-breed="{{this.breed_name}}">Find</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  {{!-- <div class="row">
    {{#each data}}
    <div class="col s12 m12">
      <div class="card horizontal valign-wrapper">
        <div class="imageCropper">
          <img class="dogImage" src={{this.image}}>
        </div>
        <div class="card-stacked">
          <span class="card-title">{{this.breed_name}}</span>
          <div class="card-content">
            <ul>
              {{#each this.Attributes}}

              <li class="attributeAndScore valign-wrapper" data-score="{{this.score}}">{{this.attribute}} : <img
                  class="stars" data-score="{{this.score}}" src=""></li>

              {{/each}}
            </ul>
        </div>
        <div class="card-action">
           <button class="btn waves-effect waves-light findButton" type="submit" name="action" id="findAdoption"
              data-survey = "{{../survey.id}}" data-user="{{../survey.UserId}}" data-breed="{{this.breed_name}}">Find</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div> --}}



</div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- javascript tags --}}
<script src="/js/breedpage.js"></script>