<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Breed 1</h5>
                    <p>
                        <strong>ID</strong>: {{example.id}}</p>
                    <p>
                        <p>
                            <strong>Text</strong>: {{example.text}}</p>
                        <p>
                            <strong>Description:</strong> {{example.description}}</p>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Breed 2</h5>
                    <p>
                        <strong>ID</strong>: {{example.id}}</p>
                    <p>
                        <p>
                            <strong>Text</strong>: {{example.text}}</p>
                        <p>
                            <strong>Description:</strong> {{example.description}}</p>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Breed 3</h5>
                    <p>
                        <strong>ID</strong>: {{example.id}}</p>
                    <p>
                        <p>
                            <strong>Text</strong>: {{example.text}}</p>
                        <p>
                            <strong>Description:</strong> {{example.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<h1>Enter your zipcode to see dogs near you!</h1>

<form>
    Name: <input type="text" id="name" placeholder="Jon Doe"><br>
    Zip Code: <input type="text" id="zipcode" pattern="[0-9]{5}" placeholder="#####" name="zipcode"><br>
    <input type="submit" value="Submit" id="zipcode-submit">


</form>
<a href="/">← Back To Home</a>