<div class="container">
  <section id="getStartedSection">
  <div class="row center-align">
    <div class="col s12">
      <h1 id="introText">Welcome to</h1>
      <img id="frontLogo" src="../images/fetchrLogo.svg">
      <p id="frontPageText">Every dog deserves a home, but not every home is right for every dog. Fetchr uses factors such as your lifestyle and personality to match you to the right dog, then find adoptable dogs of that breed in your area! </p>
      <a id="startButton" class="waves-effect waves-light btn">Get Started</a>
    </div>
  </div>
  </section>

 <section id="surveySection">
  <div id="surveyRow" class="row">
    <div id="surveyColumn" class="col s8">
      <form class="breedSurvey">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="John Smith" id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s6">
            <input id="zipcode" type="text" class="validate">
            <label for="zipcode">Zipcode</label>
          </div>
        </div>
        {{#each questionsAndChoices}}
        <div class="row">
          <div class="input-field col s12">
            <select id="{{this.id}}">
              <option value="" disabled selected>Choose your option</option>
              {{#each this.Choices}}
              <option value="{{this.value}}">{{this.choice}}</option>
              {{/each}}
            </select>
            <label class="question" data="{{this.question}}">{{this.question}}</label>
          </div>
        </div>
        {{/each}}

        <button id="submitSurvey" class="waves-effect waves-light btn-large" type="submit" name="action">
          Fetch!
        </button>
        <div id="missing-question-text"></div>
      </form>
    </div>
  </div>
  </section>
</div>

<!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- javascript tags --}}
{{!-- <script src="/js/survey.js"></script> --}}
<script src="/js/survey.js"></script>